
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .auth-wrap {
    display: flex;
    flex-direction: column;
    width: 16rem;
    position: relative;
    top: -6rem;
    margin: -1rem -3rem;

    .auth-form {
      min-width: 150px;
      max-width: 500px;
      width: 100%;
    }

    .auth-full-width {
      width: 100%;
    }

    .auth-submit {
      align-self: stretch;
      margin-top: 1rem;
    }
  }
}
