.mat-form-field {
  font-size: 14px;
  width: 100%;
  min-height: 64px;
  padding: 8px 24px 0;
}

.user-table {
  overflow: auto;
  min-height: 300px;
}

.mat-column-user_id,
.mat-column-contact_id,
.mat-column-status {
  max-width: 50px;
}
